body{
    background-color:bisque;
    max-width: auto;
    width: 200px;
   
}

a.button3{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 16px;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}
a.button3:hover{
    background-color:#4095c6;
}
#ques{
    font-size: 16px;    
    text-align: center;
}
#welcome{
    font-size: 16px;    
    text-align: center;
}
@media all and (max-width:30em){
    a.button3{
    display:block;
    margin:0.2em auto;
    }
}